header {
  text-align: center;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
}

.ville {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 8px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}
.ville p {
  margin-left: 5px;
}
.ville img {
  width: 10px;
  height: 14px;
  margin-right: 13px;
}

.reserver {
  text-align: center;
  padding: 30px 45px;
  margin-bottom: 5px;
}
.reserver button {
  background: linear-gradient(90deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.reserver button:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #fe9de3, #a77bde);
}

.fonctionnement {
  background-color: white;
  padding: 30px 20px;
}
.fonctionnement .choix {
  display: flex;
  align-items: baseline;
  background-color: #f6f6f6;
  border-radius: 12px;
  padding: 17px;
  margin: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.fonctionnement .choix span {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 4px 9px;
  margin-right: 15px;
  margin-left: -30px;
}
.fonctionnement .choix img {
  width: 13px;
  margin-right: 20px;
}
.fonctionnement .choix h3 {
  font-size: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 10px 25px;
}
.footer a {
  color: white;
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  list-style: none;
}
.footer .proposer {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.footer .proposer-gap {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.footer .proposer-un {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.footer img {
  margin-bottom: 10px;
}

.restaurants {
  padding: 30px 20px;
}
.restaurants .card {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurants .card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.restaurants .card .nouveau {
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
}
.restaurants .card .card-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .card .card-content h4 {
  margin-bottom: 5px;
}
.restaurants .card .card-content p {
  color: grey;
  font-size: 0.9rem;
}
.restaurants .card .card-content .like-container {
  position: relative;
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
}
.restaurants .card .card-content .like-icon,
.restaurants .card .card-content .like-icon-full {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.restaurants .card .card-content .like-icon {
  color: grey;
  opacity: 1;
  z-index: 1;
}
.restaurants .card .card-content .like-container:hover .like-icon {
  opacity: 0;
}
.restaurants .card .card-content .like-icon:hover {
  background: linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
}
.restaurants .card .card-content .like-icon-full {
  background: linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  clip-path: inset(100% 0 0 0);
  opacity: 1;
  z-index: 2;
}
.restaurants .card .card-content .like-container:hover .like-icon-full {
  clip-path: inset(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #ff79da, #9356dc);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: hideLoader 3s forwards;
}

@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid white;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/****** Media queries ***********/
/* Medium devices (PC, more/equal than 1024px) */
@media (min-width: 1024px) {
  header {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
  .ville {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    margin-left: 7%;
  }
  .choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 6%;
  }
  .choix {
    width: 25%;
  }
  .all-card {
    padding: 0px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .card {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer .footer-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px 0px;
    gap: 20px;
    margin-top: 2%;
  }
  .footer .footer-container-nologo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5%;
  }
  .footer .footer-container-nologo-part {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5%;
  }
  .footer .proposer-gap {
    margin-right: 40px;
  }
  .footer .proposer {
    font-weight: 250;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

header {
  position: relative;
  width: 100%;
  height: 40px;
}
header .back-button {
  color: black;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 15px;
  margin-left: 25px;
}
header img {
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}
header .fa-arrow-left {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20PX;
  margin-left: 15px;
}

.restaurant-banner {
  width: 100%;
  height: 250px;
}
.restaurant-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  background: #f6f6f6;
  padding: 20px;
  margin-top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}
.container .restaurant-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
}
.container .restaurant-title h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  font-family: "Shrikhand", sans-serif;
}
.container .restaurant-title .like-icon {
  font-size: 24px;
  cursor: pointer;
}
.container .menu {
  margin-bottom: 40px;
}
.container .menu h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: #353535;
}
.container .menu h3:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 3px;
  background: #99e2d0;
}
.container .menu .menu-item {
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeInLeft 1s ease-out forwards;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
}
.container .menu .menu-item:nth-child(1) {
  animation-delay: 0.4s;
}
.container .menu .menu-item:nth-child(2) {
  animation-delay: 0.8s;
}
.container .menu .menu-item:nth-child(3) {
  animation-delay: 1.3s;
}
@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn-order {
  display: block;
  margin: 20px auto;
  padding: 15px 42px;
  background: linear-gradient(90deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-order:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #fe9de3, #a77bde);
}

.menu-anim.menu-detail {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  padding-right: 70px;
}

.menu-anim.menu-detail h4 {
  margin: 0;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.menu-anim.menu-detail p {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.menu-anim.menu-detail p span {
  font-weight: bold;
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: 10px;
}

.menu-anim.menu-validation {
  background: #99E2D0;
  width: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-out;
  flex-shrink: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-anim.menu-validation i {
  color: white;
  font-size: 1.5rem;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.menu-item:hover .menu-anim.menu-validation {
  width: 60px;
}
.menu-item:hover .menu-anim.menu-validation i {
  transform: scale(1);
}

/****** Media queries ***********/
/* Medium devices (PC, more/equal than 1024px) */
@media (min-width: 1024px) {
  .container .restaurant-title {
    justify-content: center;
    gap: 30px;
  }
  .container .menu h3 {
    margin-left: -400px;
    text-align: center;
    padding-left: 0;
  }
  .container .menu h3::after {
    margin-left: 875px;
  }
  .container .menu .menu-item-all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    align-content: center;
  }
  .container .menu .menu-item-all .menu-item {
    display: flex;
    width: calc(50% - 10px);
    max-width: 450px;
  }
}

/*# sourceMappingURL=main.css.map */
