$primary-gradient: linear-gradient(90deg, #ff79da, #9356dc);
$primary-color: #9356dc;
$light-grey: #f6f6f6;
$dark-grey: #353535;
$nouveau-bg: #99e2d0;
$nouveau-text: #008766;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);